  </main>
  <nav class="site-nav">
    <a href="{{ '/' | relative_url }}">Browse by book</a>
    <a href="{{ '/all/' | relative_url }}">See all books</a>
  </nav>
  <footer class="site-footer">
    <small>Book titles and cover assets are copyrighted by their respective authors.<br /><a href="https://github.com/melanierichards/highlights">Code inspiration by</a> Melanie Richards</small>
  </footer>

  <script src="{{ '/assets/js/deps.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
</body>
